
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;
 }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#eee;
    width:600px;
    border:2px solid #212121;
    border-radius: 4px; 
}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:300px;
    width:530px;
    border:1px solid #a7a7a7;
    overflow:auto;
    border-radius: 4px;
	border-bottom: 4px solid #a7a7a7
 }
  
.usermsg {
    width:450px;
    padding: 7px;
    border: 2px solid #e65100;
    background:white;
    resize: none;
    border-radius: 5px; }
  
.button { 
    background-color: orange;
    color: white;
    padding: 7px 10px;
    border: 2px solid #e65100;
    cursor: pointer;
    width: 13%;
    margin-bottom:1px;
    opacity: 0.8;
	font-weight: bold;
    border-radius: 5px; 
}

#button:hover { 
    background-color: rgb(18, 61, 79);
    color: white;
    
}
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left;
font-size: 15px;
color: black; }
  
.login { 
    float:right;
    background-color: rgb(35, 140, 182);
    color: white;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    width: 18%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 2px;
 }  
 .login:hover{
    background-color: rgb(110, 196, 230);
    color: white;
    
 }
.msgln { margin:0 0 2px 0; }
ul {
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px;
}

@media screen and (max-width: 518px) {
   
} 